body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
/*reset*/
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
button {
  cursor: pointer;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*common*/
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* header*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.nav-logo {
  color: #2e2f42;
}
.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
    width: 100%;
    height: 4px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover:after,
  .nav-link:focus:after,
  .nav-link.current::after {
    opacity: 1;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus,
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    align-items: center;
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* mobile-menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.mobile-menu-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  margin: 0 auto;
}
.mobile-menu:not(.is-open) .mobile-menu-container {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(1.5);
}
.mobile-menu-nav-list {
  display: flex;
  align-items: start;
  justify-content: start;
  height: 200px;
  width: 151px;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
}
.mobile-menu-nav-item .nav-link {
  font: 700 36px / 1.11 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  position: absolute;
  bottom: 128px;
  gap: 24px;
  width: 193px;
  height: 72px;
}
.mobile-menu-address-item .address-link {
  font: 500 20px / 1.2 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-list-soc-icon {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  position: absolute;
  bottom: 40px;
  gap: 40px;
  width: 280px;
  height: 40px;
  margin-top: 48px;
}
.address-link:hover,
.address-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* hero*/
.image {
  display: block;
  align-items: center;
  background-color: #2e2f42;
  max-width: 100%;
  width: 320px;
  height: 432px;
  padding: 72px 0;
  margin: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .image {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob@2x.jpg);
  }
}
.section-team-item {
  background-color: #fff;
}
.image-titel {
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.image-botton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  font-family: inherit;
  display: block;
  border-radius: 4px;
  margin: 0 auto;
  padding: 16px 32px;
  height: 56px;
  border: none;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  min-width: 169px;
  gap: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-botton:hover,
.image-botton:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .image {
    width: 768px;
    height: 436px;
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-p.jpg);
  }
  .image-titel {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-p@2x.jpg);
    }
  }
}
@media screen and (min-width: 1158px) {
  .image {
    width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-d.jpg);
  }
  .image-titel {
    margin-bottom: 48px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .image {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-d@2x.jpg);
    }
  }
}
/* section 2*/

.features-sectoin {
  padding: 96px 0;
  max-width: 100%;
}
.features {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 288px;
  height: 696px;
  flex-wrap: wrap;
  gap: 72px;
}
.box-icon {
  display: none;
}
.heading-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .features {
    width: 736px;
    height: 312px;
    gap: 72px 24px;
  }
  .item {
    width: 356px;
    height: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .features-sectoin {
    padding: 120px 0;
  }
  .features {
    width: 1128px;
    height: 224px;
  }
  .item {
    width: 264px;
    height: 100%;
  }
  .box-icon {
    display: flex;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    justify-content: center;
    background-color: #f4f4fd;
  }
  .heading-1 {
    display: flex;
    align-items: baseline;
    justify-content: start;
    font-size: 20px;
    line-height: 1.2;
  }
}
/* section 3*/

.section-team {
  display: block;
  align-items: center;
  background-color: #f4f4fd;
  padding: 96px 0;
  width: 100%;
  height: 100%;
}
.titem {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.titem-team {
  margin-bottom: 72px;
  width: 100%;
}
.team-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.02em;
  font-size: 500px;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}
.section-team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 264px;
  height: 428px;
  gap: 32px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.container-kartka {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 232px;
  height: 104px;
  margin-bottom: 32px;
  gap: 8px;
}
.list-soc-icon {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  width: 232px;
  height: 40px;
}
.soc-icon {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: contain;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon:hover,
.soc-icon:focus {
  background-color: #404bbf;
}
.kartka-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .section-team {
    padding: 96px 0;
  }
  .team-list {
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section-team {
    padding: 120px 0;
  }
  .team-list {
    gap: 0 24px;
  }
  .section-team-item {
    width: calc((100% - 72px) / 4);
  }
}
/* section 4*/
.section-portfolio {
  padding: 96px 0;
  width: 100%;
  height: 100%;
}
.portfolio-item {
  width: 288px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-item:hover .overlay {
  transform: translateY(0%);
}
.portfolio-item-img {
  display: block;
  width: 100%;
}
.portfolio-list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-item-container {
  flex-direction: cover;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  font: 400 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.titem {
  margin-bottom: 72px;
}
.portfolio-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  letter-spacing: 0.02em;
  font-size: 500px;
  color: #2e2f42;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
}
.portfolio-text {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}
@media screen and (min-width: 768px) {
  .portfolio-item {
    width: 356px;
  }
  .portfolio-list {
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-item {
    box-shadow: none;
    width: 360px;
  }
}
/* footer*/
.container-footer {
  display: block;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 96px 0;
}
.footer-logo {
  color: #f4f4fd;
}
.container-footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 288px;
  height: 112px;
  margin-bottom: 72px;
}
.media-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.container-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 208px;
  height: 80px;
  gap: 16px;
  margin-bottom: 72px;
}
.icon-footer .soc-icon:hover,
.icon-footer .soc-icon:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-soc-icon-footer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
.container-footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 288px;
  height: 136px;
  margin: auto;
}
.footer-button-form {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button-form:hover,
.footer-button-form:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-form-input {
  border-radius: 4px;
  border: 1px solid #ffffff;
  width: 288px;
  font-size: 12px;
  line-height: 2;
  height: 40px;
  color: #ffffff;
  margin-bottom: 16px;
  letter-spacing: 0.04em;
  background-color: transparent;
  padding: 8px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input:hover,
.footer-form-input:focus {
  border-color: 1px solid #404bbf;
}
.footer-frame {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  fill: #ffffff;
}
.form-label-footer {
  display: flex;
  align-items: center;
  max-width: 453px;
  gap: 24px;
  fill: #ffffff;
}
.footer-frame-icon {
  margin-left: 16px;
}
input::placeholder {
  color: #ffffff;
  font: 400 12px / 2 "Roboto", sans-serif;
  letter-spacing: 0.04em;
}
input:checked + label > span {
  fill: 4d5ae5;
}
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 108px;
  }
  .container-footer-logo {
    align-items: baseline;
    width: 264px;
    height: 112px;
    justify-content: flex-start;
    margin-right: 24px;
  }
  .footer-text {
    max-width: 264px;
  }
  .container-footer-link {
    align-items: baseline;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }
  .container-footer-form {
    display: blok;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px 24px;
    width: 453px;
    height: 80px;
    margin: 0;
  }
  .subscribe {
    justify-content: flex-start;
    align-items: self-end;
    flex-wrap: nowrap;
    max-width: 453px;
    gap: 24px;
  }
  .footer-form-input {
    width: 264px;
    margin: 0;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    max-width: 1158px;
    margin: 0 auto;
  }
  .footer {
    width: 100%;
    height: 100%;
    padding: 100px 0;
  }
  .container-footer-logo {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-right: 120px;
  }
  .container-footer-form {
    display: flex;
    align-items: self-end;
    margin-left: auto;
  }
  .form-label-footer {
    align-items: self-end;
  }
}

/*----------------------*/

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overlay:not(.is-open) .modal {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) scale(1.5);
}
.close-btn {
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-size: contain;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .form-icon-close,
.close-btn:focus .form-icon-close {
  fill: #fff;
}
.form-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -100%);
}
.form-field {
  width: 100%;
  height: 58px;
  margin-bottom: 8px;
}
.modal-text {
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  background-color: transparent;
  width: 100%;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding: 8px 16px 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border: 1px solid #4d5ae5;
}
.container-form-field {
  width: 100%;
  height: 336px;
  padding: 0;
}
.form-label {
  display: block;
  justify-content: left;
  align-items: center;
  font: 400 12px/ 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  width: 100%;
  height: 14px;
  margin-bottom: 4px;
}
.input-wrapper {
  position: relative;
}
.form-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  fill: #2e2f42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .form-icon,
.modal-input:hover + .form-icon {
  fill: #4d5ae5;
}
.form-field-comment {
  margin-bottom: 16px;
  width: 100%;
  height: 138px;
}
.form-input {
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  outline: transparent;
  top: 0;
  left: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.form-input:hover,
.form-input:focus {
  border: 1px solid #4d5ae5;
}
.container-checkbox {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  height: 16px;
  background-size: cover;
}
.form-checkbox {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .form-label-chek > span {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.form-label-chek {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 12px / 1.17 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.checkbox-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-self: start;
}
.chec-icon {
  background-color: transparent;
}
.form-checkbox-link {
  font: 400 12px / 1.33 "Roboto", sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-btn {
  margin: 0 auto;
  position: absolute;
  bottom: 24px;
  top: auto;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  left: 50%;
  cursor: pointer;
  transform: translatex(-50%);
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font: 500 16px / 1.5 "Roboto", sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .form-label-chek {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
  }
  .container-checkbox {
    width: 100%;
    margin-bottom: 24px;
  }
  .checkbox-text {
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }
}
